/* 初始化 */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
body,
dl,
dd {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

.col-lg-3,
.col-lg-4,
.container,
.col-lg-8 {
    padding: 0 !important;
}

/* 公共样式 */
.left {
    float: left;
}

.right {
    float: right;
}

.border-none {
    border: 0px !important;
}

/* 分类标题样式 */
.classifyTit {
    margin-top: 80px;
    text-align: center;
    margin-bottom: 64px;
}

.classifyTit .topImg {
    width: 74px;
    height: 68px;
    margin-bottom: 20px;
}

.classifyTit .bottomImg {
    width: 356px;
    height: 70px;
}

/* 头部 */
.nav {
    height: 142px;
    width: 1920px;
    background-color: #fff;
    margin: 0 auto;
}

.nav .left {
    height: 142px;
    line-height: 142px;
    padding-left: 40px;
}

.nav .right {
    box-sizing: border-box;
    padding-top: 36px;
}

.nav .right .phone {
    text-align: right;
    color: #627281;
    margin-bottom: 30px;
    padding-right: 34px;
}

.nav .right .phone strong {
    color: #000;
    font-size: 22px;
}

.navlist li {
    float: left;
    margin-right: 34px;
}

.navlist li a {
    font-family: PingFangSC-Light;
    font-size: 16px;
    color: #627281;
}

/* 广告 */
.banner {
    width: 1920px;
    height: 460px;
    margin: 0 auto;
}

.banner img {
    width: 100%;
    height: 100%;
}
/* 律师介绍 */
.lawyerSaid {
    position: relative;
    background: #2E2E40;
    height: 170px;
    margin-top: 200px;
    margin-bottom: 300px;
}
.redEdge {
    position: absolute;
    border: 1px solid #EA2734;
    width: 1200px;
    height: 284px;
    left: 50%;
    transform: translateX(-50%);
    top: -32px;
}
.lawyerSwiper {
    height: 600px;
    position: absolute;
    width: 1200px;
    top: -96px;
    overflow: hidden;
}
.swiper-container {
    width: 100%;
    height: 380px;
    overflow: visible;
    margin-top: 20px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    transition: 300ms;
}
.swiper-slide:not(.swiper-slide-active){
    transform: scale(0.67);
}
.swiper-scrollbar-drag  {
    background-color: #EA2734;
    height: 5px;
}
.swiper-scrollbar {
    position: static!important;
    width: 1000px;
    margin: 0 auto;
    height: 6px;
}
.swiper-scrollbar span {
    position: static!important;
    float: left;
    width: 16.666%;
    border-radius: 0!important;
    height: 100%;
}
.swiper-scrollbar .swiper-pagination-bullet-active {
    background-color:  #EA2734!important;
}
.thumbnail {
    padding:16px 24px;
    height: 380px;
    margin: 0;
    text-align: left;
    border: none;
    box-shadow: 12px 30px 40px 0 rgba(155,155,155,0.20);;
}
.caption p {
    font-size: 12px;
    color: #8E9CA9;
    text-align: justify;
    line-height: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.caption .name {
    font-size: 16px;
    color: #2C363F;
    text-align: justify;
    line-height: 24px;
}
.caption .position {
    font-family: PingFangSC-Regular;
    font-size: 10px;
    color: #2C363F;
    text-align: justify;
    line-height: 24px;
    margin-left: 10px;
}
.btn {
    width: 100px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}



/* 成功案例 */
.case {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.case>div {
    overflow: hidden;
}

.caseTop {
    position: relative;
    width: 1020px;
    height: 174px;
    background-color: #F6F6F6;
    box-sizing: border-box;
    padding-left: 62px;
}

.caseTop img {
    position: absolute;
    left: -180px;
    top: 0;
}

.caseTop div,
.caseList div {
    margin: 20px 0 14px;
    width: 120px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border: 1px solid #cccccc;
}

.caseTop h4,
.caseList h4 {
    font-size: 14px;
    color: #2C363F;
    font-weight: 600;
    margin-bottom: 16px;
}

.caseList div {
    margin-top: 0 !important;
}

.caseTop p,
.caseTop a,
.caseList p,
.caseList a {
    font-family: PingFangSC-Light;
    font-size: 14px;
    color: #8E9CA9;
    line-height: 22px;
}

.caseList {
    display: inline-block;
    width: 480px;
    /* height: 164px; */
    margin-top: 36px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ececec;
}

.caseListMr {
    margin-right: 186px;
}

.caseSee {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 44px;
}

.caseSee a {
    font-family: PingFangSC-Light;
    font-size: 12px;
    color: #8E9CA9;
}

/* 联系我们 */
.relationWe {
    width: 1920px;
    height: 660px;
    margin: 0 auto;
    background: url(../img/联系我们-背景.png) no-repeat center;
}

.relationWeBox {
    width: 1200px;
    padding-top: 100px;
    margin: 0 auto;
}

.relationWeBox .fl {
    float: left;
    width: 730px;
    height: 480px;
    background-color: #fff;
}

.relationWeBox .fl h3 {
    padding-top: 10px;
    padding-bottom: 12px;
    font-size: 26px;
    color: #000000;
    font-weight: 700;
    border-bottom: 1px solid #e2e2e2;
}

.relationWeBox .fl h3 img {
    width: 50px;
    height: 50px;
    margin-left: 30px;
    margin-right: 16px;
}

.relationWeBox .fl>h4 {
    height: 58px;
    line-height: 58px;
    padding-left: 32px;
    font-family: PingFangSC-Semibold;
    font-size: 16px;
    color: #2C363F;
    font-weight: 700;
}

.relationWeBox .fl ul,
.officeList {
    margin-left: 32px;
    margin-right: 32px;
}

.relationWeBox .fl li {
    float: left;
}

.relationWeBox .fl li p {
    font-size: 14px;
    color: #8E9CA9;
    font-weight: 600;
    margin-bottom: 10px;
}

.officeList div h4 {
    height: auto;
    margin-top: 16px;
    margin-bottom: 12px;
    font-family: PingFangSC-Semibold;
    font-size: 16px;
    color: #2C363F;
    font-weight: 600;
    padding: 0;
}

.officeList div p {
    font-family: PingFangSC-Semibold;
    font-size: 14px;
    color: #8E9CA9;
    margin-bottom: 10px;
    font-weight: 600;
}

.officeList div span {
    font-family: PingFangSC-Light;
    font-size: 14px;
    color: #8E9CA9;
}

.two-list {
    margin-left: 30px;
}

.two-list dl {
    float: left;
    width: 100px;
}

.two-list dl dd {
    width: 100px;
    height: 32px;
}

.two-list dl dd span {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #d8d8d8;
    margin-right: 4px;
}

.two-list dl dd a {
    color: #627281;
    font-size: 14px;
}

.relationWeBox .fl ul {
    overflow: hidden;
    border-bottom: 1px solid #e2e2e2;
}

.relationWeBox .fr {
    box-sizing: border-box;
    width: 440px;
    height: 480px;
    float: right;
    padding: 50px 30px 0;
    background-color: #fff;
}

.relationWeBox input,
.relationWeBox textarea {
    outline: none;
    border: none;
    color: #000;
}

.relationWeBox textarea {
    resize: none;
    vertical-align: top;
    height: 112px;
}

.relationWeBox .name input {
    width: 200px;
    padding-left: 12px;
}

.relationWeBox .name,
.relationWeBox .phone {
    padding-bottom: 8px;
    font-family: PingFangSC-Light;
    font-size: 14px;
    color: #627281;
    text-align: justify;
    line-height: 24px;
    border-bottom: 1px solid #e2e2e2;
}

.relationWeBox .phone {
    margin-top: 40px;
}

.relationWeBox .describe {
    margin-top: 40px;
    font-family: PingFangSC-Light;
    font-size: 14px;
    color: #627281;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 20px;
    padding-bottom: 1px;
}

.relationWeBox .fr button {
    width: 120px;
    height: 40px;
    background-color: #EA2734;
    border: none;
    outline: none;
    color: #fff;
    line-height: 40px;
    text-align: center;
}

.copyright {
    margin: 0 auto;
    width: 1920px;
    background-color: #262930;
}

.copyrightBox {
    width: 1200px;
    height: 156px;
    margin: 0 auto;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    color: #8F8F91;
    overflow: hidden;
}

.copyrightBox .left>div {
    float: left;
}

/* .copyrightBox .left>div img {
    width: 80px;
    height: 92px;
} */
.copyrightBox .left h5 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}

.copyrightBox .right {
    width: 210px;
    white-space: nowrap;
}

.copyrightBox .right img,
.copyrightBox .right span {
    vertical-align: bottom;
    display: inline-block;
}

.copyright-text {
    height: 60px;
    width: 1200px;
    margin: 0 auto;
    line-height: 60px;
    text-align: center;
    font-family: PingFangSC-Semibold;
    font-size: 16px;
    color: #8F8F91;
}