body,
html,
ul,
li,
a {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

/* <!-- 服务范围 --> */
.scopeBox {
    width: 100%;
}

.scopeBox>ul {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scopeBox li {
    width: 228px;
    height: 228px;
    margin-left: 15px;
    position: relative;
}

.scopeBox li:nth-child(1),
.agencyBox li:nth-child(1),
.projectBox li:nth-child(1) {
    margin: 0px;
}

.scopeBox li>img {
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.scopeBox li>span {
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    top: 50%;
    left: 50%;
    margin-left: -114px;
    text-align: center;
    margin-top: -20px;
    font-weight: 700;
    color: #627281;
}

/* <!-- 服务范围end --> */
/* 服务项目 */
.projectBox {
    width: 1200px;
    margin: 0 auto;
}

.projectBox>ul {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;

}
.projectBox .active .content {
    border-bottom: 8px solid #E60110;
}
.projectBox>ul>li {
    width: 310px;
    height: 300px;
    margin-left: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.projectBox li>.rectangle {
    width: 100%;
    height: 140px;
    background: #fefefe;
    border: 1px solid #dbdbdb;
}

.content {
    width: 240px;
    height: 100%;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.50);
}

.content ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content ul li:nth-child(1) {
    margin-top: 20px;
    width: 28px;
    height: 28px;
    background: #E60110;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.content ul li:nth-child(2) {
    margin-top: 19px;
    width: 190px;
    height: 48px;
    font-size: 18px;
    font-weight: 700;
    color: #2C363F;
}

.content ul li:nth-child(3) {
    width: 190px;
    margin-top: 28px;
    line-height: 28px;
    color: #627281;
}

.content .redBot {
    width: 100%;
    height: 8px;
    background: red;
    position: absolute;
    bottom: 2px;
}

/* 服务项目end */
/* 案件代理流程 */
.circuit {
    max-width: 1920px;
    margin: 0 auto;
    height: 860px;
    background: url(../img/合同维权服务背景.png) no-repeat center;
    background-size: 100% 100%;
}

.circuitTop {
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 86px;
    overflow: hidden;
}

.circuitTop>div,
.circuitBot>div {
    float: left;
}

.contract-serve-list {
    width: 320px;
    height: 300px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 40px 36px 0;
    box-shadow: 0 8px 20px 0 rgba(255, 255, 255, 0.50);
    border-radius: 4px;
    position: relative;
    z-index: 1;
}

.contract-serve-list div {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.50);
    z-index: 0;
    right: -8px;
    bottom: -10px;
    border-radius: 4px;
}

.jiantou {
    height: 280px;
    width: 118px;
    line-height: 280px;
    text-align: center;
}

.circuitBot {
    width: 772px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 86px;
    overflow: hidden;
}

.contract-serve-list h4 {
    margin-bottom: 40px;
    font-family: PingFangSC-Semibold;
    font-size: 24px;
    color: #627281;
    text-align: center;
    font-weight: 600;
}

.contract-serve-list h4,
.contract-serve-list p {
    position: relative;
    z-index: 2;
}

.contract-serve-list p {
    font-family: PingFangSC-Light;
    font-size: 14px;
    color: #627281;
}

.contract-serve-list img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 36px;
}

/* 案件代理流程end */
/* 服务承诺 */
.commitment {
    max-width: 1920px;
    margin: 0 auto;
    height: 620px;
    background: url(../img/服务承诺背景.png) no-repeat top center;
    /* background-size: 100% 620px; */
}

.commitmentBox {
    width: 880px;
    margin: 0 auto;
    height: 440px;
    border: 1px solid #eb2939;
    border-top: 0;
    position: relative;
}

.commitmentBox div {
    position: absolute;
    width: 320px;
    height: 156px;
    background: #FFFFFF;
    box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.50);
    border-radius: 4px;
    line-height: 156px;
    text-align: center;
    font-family: PingFangSC-Regular;
    font-size: 22px;
    color: #2C363F;
}

.commitmentBox div img {
    position: absolute;
    top: 0;
    left: 0;
}

.commitmentBox .tt {
    top: 0;
}

.commitmentBox .lOut {
    left: -160px;
}

.commitmentBox .bOut {
    bottom: -78px;
}

.commitmentBox .rOut {
    right: -160px;
}

div .centerY {
    top: 180px;
}

div .centerX {
    left: 0;
    right: 0;
    margin: auto;
}