/* 功能选择 */
.select {
    width: 1920px;
    height: 400px;
    margin: 0 auto;
    background: #FAFAFA;
    border-radius: 4px;
    position: relative;
}

.select ul {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -66px;
    width: 1200px;
    height: 356px;
    background: #FFFFFF;
    box-shadow: 0 8px 26px 0 rgba(218, 218, 218, 0.50);
    border-radius: 4px;
    border-radius: 4px;
}

.select ul li {
    width: 240px;
    height: 168px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select ul .active {
    box-shadow: 0 8px 26px 0 rgba(218, 218, 218, 0.50);
}

.selectMb {
    margin-bottom: 18px;
}

.select ul li span {
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 64px;
    border-right: 1px solid #ECECEC;
    font-size: 18px;
}

.select ul li span img {
    /* display: block; */
    margin-bottom: 10px;
    width: 28px;
    height: 28px;
}

/* 合同维权服务项目 */
.contract-serve {
    width: 1920px;
    height: 860px;
    margin: 0 auto;
    background: #000 url(../img/合同维权服务背景.png) no-repeat center;
    background-size: 100% 100%;
}

.contract-serve-box {
    width: 1130px;
    margin: 0 auto;
    padding-top: 106px;
}

.contract-serve-box>div {
    float: left;
}

.contract-serve-list {
    width: 216px;
    height: 280px;
    background-color: #fff;
    text-align: center;
    box-sizing: border-box;
    padding-top: 50px;
    box-shadow: 0 8px 20px 0 rgba(255,255,255,0.50);
    border-radius: 4px;
    position: relative;
    z-index: 1;
}

.contract-serve-list p {
    font-size: 24px;
    color: #627281;
    line-height: 24px;
    margin: 20px 0 40px;
}
.contract-serve-list p,
.contract-serve-list img {
    position: relative;
    z-index: 1;
}
.contract-serve-list div {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255,255,255,0.50);
    z-index: 0;
    right: -8px;
    bottom: -10px;
    border-radius: 4px;
}
.contract-serve-list .one-img {
    width: 62px;
    height: 62px;
}
.jiantou {
    height: 280px;
    width: 88px;
    line-height: 280px;
    text-align: center;
}
.division {
    width: 100%;
    height: 110px;
}
.division>div {
    float: right;
    width: 216px;
    height: 110px;
    text-align: center;
    line-height: 110px;
}
.division>div img {
    transform: rotate(90deg);
}
.xuanzhuan img {
    transform: rotate(180deg);
}
/* 浩云律所优势 */
.advantage {
    width: 1920px;
    height: 860px;
    margin: 0 auto;
}

.advantage div {
    box-sizing: border-box;
    padding-left: 64px !important;
    padding-top: 116px !important;
    padding-right: 100px;
    position: relative;
    height: 400px;
}

.advantage div>img {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 10;
}

.normal>img {
    top: -18px;
}

.advantage .overturn>img {
    bottom: -18px;
    transform: rotate(180deg);
}

.advantage div li {
    float: left;
}

.advantage div li img {
    width: 28px;
    height: 28px;
    margin-right: 8px;
}

.advantage div li h3 {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 30px;
}

.advantage div li p {
    width: 442px;
    font-family: PingFangSC-Light;
    font-size: 18px;
    color: #003033;
    text-align: justify;
    line-height: 28px;
}

/* 运营横幅位置 */
.operation {
    width: 1920px;
    height: 188px;
    margin: 0 auto;
    background: #EDEDED;
}
/* 律师介绍 */
.lawyerSaid {
    position: relative;
    background: #2E2E40;
    height: 170px;
    margin-top: 200px;
    margin-bottom: 300px;
}
.redEdge {
    position: absolute;
    border: 1px solid #EA2734;
    width: 1200px;
    height: 284px;
    left: 50%;
    transform: translateX(-50%);
    top: -32px;
}
.lawyerSwiper {
    height: 600px;
    position: absolute;
    width: 1200px;
    top: -96px;
    overflow: hidden;
}
.swiper-container {
    width: 100%;
    height: 380px;
    overflow: visible;
    margin-top: 20px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    transition: 300ms;
}
.swiper-slide:not(.swiper-slide-active){
    transform: scale(0.67);
}
.swiper-scrollbar-drag  {
    background-color: #EA2734;
    height: 5px;
}
.swiper-scrollbar {
    width: 1000px;
    margin: 0 auto;
}
.thumbnail {
    padding:16px 24px;
    height: 380px;
    margin: 0;
    text-align: left;
    border: none;
    box-shadow: 12px 30px 40px 0 rgba(155,155,155,0.20);;
}
.caption p {
    font-size: 12px;
    color: #8E9CA9;
    text-align: justify;
    line-height: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.caption .name {
    font-size: 16px;
    color: #2C363F;
    text-align: justify;
    line-height: 24px;
}
.caption .position {
    font-family: PingFangSC-Regular;
    font-size: 10px;
    color: #2C363F;
    text-align: justify;
    line-height: 24px;
    margin-left: 10px;
}
.btn {
    width: 100px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}
